<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="add-container">
        
        <form method="post" action="/employee/show">
            <h1>You are about to add new record</h1>
            <input type="text" name="name" placeholder="Enter employee name" required><br><br>
            <input type="email" name="email" placeholder="Enter employee email" required><br><br>
            <input type="text" name="salary" placeholder="Enter employee salary" required><br><br>
            <button id="newbtn">Add New</button>
        </form>
    </div>
    
</body>
</html>